* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: #ccfde3;
}
.header-logo {
  margin: 1rem 0 0 1rem;
}

img {
  border-radius: 50px;
  margin-left: 2rem;
}

.nav__menu {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav__menu,
.menu__list {
  display: flex;
  align-items: top;
  justify-content: center;
  list-style: none;
}
.menu__list,
.menu__item{
  text-decoration: none;
  margin-inline:2rem;
}

