# Системные файлы
.DS_Store
Thumbs.db

# Логи и кэш
*.log
npm-debug.log*

# Зависимости
node_modules/
.sass-cache/

# Настройки редактора
.vscode/
.idea/

# Автогенерируемые файлы
dist/
*.min.js
*.style.css