{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 3,
	"trailingComma": "all",
	"printWidth": 80,
	"htmlWhitespaceSensitivity": "css",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"singleAttributePerLine": false,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"proseWrap": "preserve",
	"cssEmptyLines": "preserve",
	"overrides": [
		{
			"files": ["*.css", "*.scss", "*.less"],
			"options": {
				"printWidth": 80,
				"singleQuote": false,
				"bracketSameLine": false,
				"useTabs": true
			}
		}
	]
}
