{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css",
        "printWidth": 120,
        "cssEnable": true
      }
    }
  ]
}
