{
  "printWidth": 100,
  "singleQuote": true,
  "cssMaxEmptyLines": 0,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
