.rounded {
  border-radius: 16px;
  overflow: hidden;
}

em {
  font-style: normal;
  background: var(--color-highlight);
}
// !Этот раздел используется для создание декоративных стилей в проекте, оформление текста, закругление границ.
// ! добавление рисунков на пример; в формате (avg), либо добавить линейный градиент какому либо тексту.
